<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Channel</th>
            <th>Seasons</th>
          </tr>
        </thead>
        <tbody>
          <div *ngFor="let serie of series">
            <tr>
              <td>{{ serie.id }}</td>
              <td>
                <a href="{{ serie.webpage }}">{{ serie.name }}</a>
              </td>
              <td>{{ serie.channel }}</td>
              <td>{{ serie.seasons }}</td>
            </tr>
          </div>
        </tbody>
      </table>
      <p>Seasons average: {{ avgSeasons | number }}</p>
    </div>
    <div class="col-6"></div>
  </div>
</div>
